body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


nav{
    height: 90px;
    background-color: rgb(244, 234, 234); 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;

}
nav li{
    font-size: 20px;
    
}
.navbar li:hover{
    background-color: aqua;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    font-size: 20px;
    display: flex;
    gap: 20px;
}